.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  z-index: 2;
  top: 0;
  background-image: url(../../../images/triangle.svg);
  background-size: contain;
  -webkit-animation-name: rotation-triangle;
          animation-name: rotation-triangle;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
