.two-columns__link {
  color: #2F80ED;
  text-decoration: none;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  opacity: 1;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

.two-columns__link:hover {
  opacity: .3;
}